.header{
    height: 15vh;
    background: #2e1764;
    color: #f5f5f5;
    margin:0;
    padding: 0;
}
.header h1{
   padding: 20px;
   margin-left: 40px;
   border-right: 2px solid #890cc4;
   width: 200px;
   border-radius: 10px;
   box-shadow: 5px 5px 5px 5px;
   overflow: hidden;
   transition: all 0.5s ease;
   cursor: pointer;
}

.header h1:hover{
    transform:scale(1.08);
}




