.section-produits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.card{
    width: 220px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 5px 5px rgb(201, 201, 201);
    cursor: pointer;
}
.card:hover{
     transform: translate3d(-10px, -10px,  10px);
}
.card-img{
    width: 218px;
    height: 220px;
}
.card-img{
    overflow: hidden;
    transition: all 0.5s ease;
}
.card-img:hover{
    transform: scale(1.08);
}

.card-body{
    display: block;
    align-items: center;
}
.card-name{
    font-size: 18px;
    font-weight: bold;
    color: #7c7c7c;
    padding: 5px;
    height: 30px;
}
.card-prix{
    font-size: large;
    text-transform: capitalize;
    font-weight: 400;
}
.btn{
    margin-left: 55px;
    margin-top: 20px;
    background: #1e1d20;
    color: #cacaca;
    text-transform: capitalize;
    font-family: sans-serif;
}